@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0px 80px;
    margin: auto;
}

section{
    padding: 100px 0;
}

.heading{
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    padding: 3px;
}

.text{
    padding: 5px;
    font-size: 20px;
}

.text span{
    color: #000000;
}

/* Navbar stlyling */

.navbar{
    position: fixed;
    width: 100%;
    padding: 25px 0px;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
}

nav.navbar::before{
    content: "";
    background-color: #222831;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.5; */
}

.navbar.sticky{
    padding: 15px 0px;
    background: #293e53;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-family: 'Poiret One', cursive;
    color: #eaeef9;
    font-size: 35px;
    font-weight: 700;
}

.navbar .logo a span{
    color: #d5823e;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #eaeef9;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #eaeef9;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #d5823e;
}

.navbar.sticky .menu li a:hover{
    color: #d5823e;
}

/*#region Menu Button styling */

.menu-btn{
    color: #eaeef9;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #d5823e;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #eaeef9;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
/*#endregion*/

/*#region About Section styling */

.about, .skills, .games, .projects, .random-stuff{
    font-family: 'Poppins', sans-serif;
}

.title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.about .about-content,
.skills .skills-content,
.games .games-content,
.projects .project-content,
.random-stuff .random-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about{
    color: #eaeef9;
    background-color: #222831;
}

.about .about-content{
    padding-top: 150px;
}

.about .about-content .left{
    width: 35%;
}

.about .about-content .left img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 180px;
    border: 5px solid #d5823e;
}

.about .about-content .right{
    width: 65%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about .about-content .right .text span{
    color: #ffffff;
}

.about .about-content .right p{
    text-align: justify;
    margin-bottom: 10px;
}

.about .about-content .right a{
    display: inline-block;
    color: #eaeef9;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 20px;
    margin-top: 20px;
    margin-right: 5px;
    border-radius: 6px;
    border: 2px solid #566f88;
    transition: all 0.3s ease-out;
}

.about .about-content .right a:hover{
    color: #566f88;
    background: none;
}

.about .about-content .right .icons{
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .about-content .right .icons .icon-img{
    margin: 10px;
}

.about .about-content .right .icons a{
    color: #222831;
    text-decoration: none;
    font-size: 0.7rem;
    border: 0px;
    padding: 2px;
    margin: 1px;
    margin-top: 20px;
}

.about .about-content .right .about-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.about .about-content .right .icons .row{
    margin-top: 20px;
    display: flex;
    height: 65px;
    align-items: center;
}

.about .about-content .right .icons .row i:hover
{
    color: #99551d;
    height: 67px;
}

.about .about-content .right .icons .row .info{
    margin-left: 30px;
}

.about .about-content .right .icons .row i{
    font-size: 3rem;
    color: #d5823e;
    transition: all 0.3s ease;
}

.row a :nth-child(1):hover{
    color: #000000;
    font-size: 2.2rem;
}

.about .about-content .right .game-button{
    flex-direction: column;
}

.about .about-content .right .game-button p{
    font-size: 1.5rem;
    margin: 10px 5px;
}

.about .about-content .right .game-button button{
    border: 2px solid #99551d;
    border-radius: 4px;
    font-family: 'Poiret One', cursive;
    font-size: 1.3rem;
    color: #ffffff;
    background: none;
	padding: 10px 20px;
	cursor: pointer;
}

.about .about-content .right .game-button button:hover{
    color: #eaeef9;
    font-size: 1.5rem;
}
/*#endregion*/

#canvas {
    width: 100%;
    height: 100%;
    background-size: cover;
}

/*#region Skills Section styling */

.skills{
    color: #eaeef9;
    background-color: #222831;
}

.skills .title::before{
    background: #eaeef9;
}

.skills .skill-box{
    height: 150px;
    padding: 25px;
    width: 25%;
}
/*#endregion*/

/*#region Games Section styling */

.games{
    color: #eaeef9;
    background-color: #222831;
}

.games .title::before{
    background: #eaeef9;
}

.games .games-content .games-card .prof-right-card a{
    text-decoration: none;
    color: #eaeef9;
}



div.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
  
}

.games-card{
    padding-bottom: 20px;
    margin-bottom: 30px;
   
}

.games-card .icons img{
    width: 30px;
    margin: 10px;

}

.games-card .icons img:hover{
    width: 35px;
}

.games-card .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-card img{
    max-width: 500px;
    border-radius: 30px;
    border: 3px solid #ffffff;
}

 .left-card img:hover{
    transform: scale(1.02);
    transition: transform 0.5s ease-out;
    cursor: pointer;
 }



.right-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    width: 520px;
    
}

.prof-right-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.games-content{
    text-align: justify;
    padding: 50px;
}

.right-card .badge{
    max-width: 120px;
    text-align: center;
}
/*#endregion*/


/*#region Personal Projects Section styling */

.projects{
    color: #eaeef9;
    background-color: #222831;
}

.projects .title::before{
    background: #eaeef9;
}

.project-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.project-content .card .right-card .icons
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    
}

.project-content .card .right-card .icons i
{
    font-size: 2rem;
    color: #eaeef9;
    transition: all 0.3s ease;
}
.project-content .card .right-card .icons i:hover
{
   
    font-size: 2.5rem;
    color: #99551d;
}

div.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.buttons button{
    padding: 5px 10px;
    margin: 10px;
    color: #eaeef9;
    border: 0;
    border-radius: 3px;
}

div.buttons #btn1{
    background-color: rgb(23, 88, 114);
}

div.buttons #btn2{
    background-color: rgb(39, 133, 21);
}

div.highlights{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

div.highlights ul{
    list-style: none;
}
/*#endregion*/


/* Random-Stuff Section styling */
.random-stuff
{
    color: #eaeef9;
    background-color: #222831;
}

.random-stuff .title::before
{
    background: #eaeef9;
}

.small-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
 .small-card  img
 {
    max-width: 200px;
    background-size:cover;
    border-radius: 17px;
    border: 3px solid #ffffff;
    margin: 10px;
 }


/* Game Section Styling */
.GameSection
{
    color: #eaeef9;
    background-color: #222831;
}

.GameSection .title::before
{
    background: #eaeef9;
}

.play-card
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

 #gamecanvasID
{
 
    background: #222831;
    width: 100%;
    height: 100%;
    outline: #d5823e 10px solid;
    border-radius: 20px;
    margin: 0;
    overflow: hidden;
}

/*#region  Responsive Media Query START */

@media (max-width: 1258px){
    .games .games-content .left-card img{
        max-width: 300px;
    }
}

@media (max-width: 910px){
    .games .games-content .left-card img,
    .projects .project-content .left-card img{
        max-width: 300px;
    }
}

@media (max-width: 1100px){
    .about .about-content .left img{
        height: 330px;
        width: 330px;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0px 40px;
    }
}

@media (max-width: 1180px){
    .card{
        flex-direction: column;
    }
}

@media (max-width: 1100px){
        
    .max-width{
        max-width: 1100px;
    }

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 50px;
    }

    .about .about-content .right{
        flex: 100%;
    }

    .skills .skill-box{
        width: 50%;
    }

    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 896px){
    .random-stuff .random-content .small-card  img{
        max-width: 200px;
    }
}

@media (max-width: 700px){
    .random-stuff .random-content .small-card  img{
        max-width: 170px;
    }
}

@media (max-width: 630px){
    .about .about-content .left img{
        height: 200px;
        width: 200px;
    }
    .projects .project-content .card .right-card{
        max-width: 200px;
    }
    .projects .project-content .card .right-card p{
        font-size: 12px;
    }
    .random-stuff .random-content .small-card  img{
        max-width: 130px;
    }
}

@media (max-width: 855px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}

@media (max-width: 500px){
    .max-width{
        padding: 0px 25px;
    }

    .skills .skill-box{
        width: 100%;
    }

    .random-stuff .random-content .small-card {
        flex-direction: row;
    }

    .about .about-content .right .icons{
        margin: 2px 2px;
    }
    .about .about-content .right .icons .row a i{
        font-size: 1.5rem;
    }
}

@media (max-width: 474px){
    .games .games-content .left-card img,
    .projects .project-content .left-card img{
        max-width: 100%;
    }

    .games .games-content .right-card h2,
    .games .games-content .right-card h2{
        font-size: 20px;
    }
}

/* 
    .games .games-content .vertical-card,
    .games .games-content .horizontal-card{
        width: 100%;
        flex-wrap: wrap;
    }
    .card-up .center img{
        max-width: 250px;
    }
    .project-content .project-card img{
        max-width: 280px;
    } */
/* 
@media (max-width: 416px){
    .project-content .project-card img{
        max-width: 250px;
    }
    .project-content .project-card{
        width: 100%;
    }
} */

@media (max-width: 402px){
    .max-width{
        padding: 0px 15px;
    }

    .home .home-content .text-2{
        font-size: 47px;
    }
    
    .home .home-content .text-3{
        font-size: 20px;
        margin: 5px 0;
    }

    .home .home-content a{
        font-size: 18px;
        padding: 6px 23px;
    }
    a img.badge{
        width: 120px;
        margin: 2px 2px;
    }
}

@media (max-width: 340px){
    .games .games-content{
        width: 100%;
    }
    .games .games-content .card{
        width: 100%;
    }

    a img.badge{
        width: 110px;
        margin: 2px 2px;
    }
}

/*#endregion */